doctype html 
html 
    head    
        
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title #{errTitle}
        link(rel='stylesheet' href='/css/404.css')
        link(rel='icon' href='/img/icon_blue.png' type='image/png')
    
    body
        p.zoom-area
        section.error-container
            span 4
            span
                span.screen-reader-text 0
            span 4
        .link-container
            a.more-link(href=`${url}`) BACK