doctype html 
html 
    head    
        block head
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')
            title nodeGuardian
            link(rel='stylesheet' href='/css/style.css')
            script(src='https://cdn.plot.ly/plotly-2.32.0.min.js' charset="utf-8")

    body
        include _header

        block content 

            h1 This is a placeholder heading
    
        include _footer

        script(src="https://code.jquery.com/jquery-3.6.0.min.js")
        script(src='/js/auth.js' type="module")
        