doctype html 
html 
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Settings
        link(rel='icon' href='/img/icon_blue.png' type='image/png')
        link(rel='stylesheet' href='/css/home.css')
        link(href='https://cdn.lineicons.com/4.0/lineicons.css' rel='stylesheet')
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet")

    body
        .header
            .nav_container 
                .logo_container
                    img.logo(src='/img/icon_big.png')
                    .project_name NodeGuardian
                .signInButton Sign In
                .tryFreeBtn Sign Up
        .main
            .home_hero_container 
                .content 
                    .content_1 Monitor, manage, and 
                    .content_container
                        .content_1 resolve errors 
                        .content_1.gradient fast
                .tryForFreeBtn Try For Free
                .sub_content Find and Fix Errors in Your Code
            .home_product_container 
                .desription_container
                    .desription_text_container
                        .product_description_title Organize Error Logs With Ease
                        p.product_description_content Our centralized error logs management system simplifies the process of tracking and resolving issues in your applications. With our intuitive interface and powerful features, you can easily identify and fix errors, ensuring a seamless user experience.  
                    .description_image_container
                        img(class= 'description_image' src= '/img/error_demo_1.png')
                .desription_container
                    .description_image_container_2
                        img(class= 'description_image' src= '/img/error_demo_2.png')
                    .desription_text_container_2
                        .product_description_title Detect And Protect
                        p.product_description_content  Equip your team with our alarm system to keep you on top of your application's status. This system ensures that you receive immediate notifications about critical issues, allowing you to respond quickly and prevent potential disruptions. 
                .desription_container
                    .desription_text_container
                        .product_description_title Error Detail At a Glance
                        p.product_description_content Error logs are a goldmine of information, but they can be overwhelming to manage and understand. Our platform simplifies error log processing, providing you with detailed information and actionable insights.
                    .description_image_container_3
                        img(class= 'description_image description_image_3' src= '/img/error_demo_3.png')
            .user_comment_container 
                .comment_section_title Users With Stories
                .comment_container
                    .first
                        .comment_title_container
                            img.commenter(src='/img/default.jpg')
                            .commenter_container
                                .commenter_name Tzu Hua, Liao
                                .commenter_job_title Co-Founder, CTO - Stylish
                        p.comment_content "Our ecommerce company was facing a great challenge regarding error logs collecting and information extraction. Access to important information is critical to solving problems faster, and NodeGuardian does an excellent job of surfacing important information while allowing us to tune the notifications the way we want them."
                    

        script(src="https://code.jquery.com/jquery-3.6.0.min.js")
        script(src='/js/home.js' type="module")
        