html {
  font-family: 'Roboto', ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  box-sizing: border-box;
}
.main {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 8px;
}

.containerBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.errorContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.errorLogsContainer {
  display: column;
  align-items: center;
  justify-content: center;
  width: 1200px;
  margin: 60px auto;
}

.containerBar .title {
  margin-right: 40px;
}

.req_h {
  margin: 0 0 10px 0;
}

.errTrends_container {
  display: flex;
}

.graph_container {
  display: column;
}

.errTrends_container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #dbe3f3;
}

.graph_container {
  margin: 20px 15px;
  padding: 10px;
  border: 2px solid rgb(181, 195, 241);
  border-radius: 8px;
  background-color: white;
}

.errDetail_errorTime {
  display: flex;
  position: relative;
}

.errIndex_container {
  height: 100px;
  background-color: #dbe3f3;
  padding: 30px;
  margin: 0 auto;
}

.errDetail_errorTitle {
  font-size: 24px;
  font-weight: 600;
}

.firstError,
.latestError,
.errorTotal {
  margin: 10px 10px;
}

.firstDate,
.latestDate {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  z-index: 1;
}

.firstError:hover .firstDate,
.latestError:hover .latestDate {
  display: block;
}

.errStackTrace_container,
.errorParamsContainer,
.summary_container,
.project_container {
  background-color: #dbe3f3;
  padding: 30px;
  margin: 40px auto;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

.params_pair_container {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
}

.req_value,
.key {
  letter-spacing: 1px;
  font-size: 12px;
  width: 600px;
  word-wrap: break-word;
  padding: 0 40px 0 0;
}

.errorParamsTitle {
  font-size: 24px;
  font-weight: 600;
}

.errTrends_container {
  font-weight: 600;
}

.errorParamsTitle,
.stackTraceTitle {
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 40px 0;
}

.codeContainer {
  width: 900px;
  border-radius: 8px;
  background-color: aliceblue;
}
.line {
  width: 100%;
  margin: 4px 0;
}

.keyValue_container {
  display: column;
  letter-spacing: 1px;
}

.key,
.value {
  margin: 0 5px;
}

.header {
  padding: 0 5rem;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login__heading {
  margin: 0rem 0 4rem 0;
}

.nav,
.nav:link,
.nav:hover {
  color: #767171;
  padding: 0 2rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  background: none;
  border: none;
  cursor: pointer;
}

.nav__aboutus,
.nav__contact {
  color: inherit;
  text-decoration: none;
  padding: 0 2rem;
}

.login-form,
.signup-form {
  margin: 20px auto;
  font-size: 32px;
  max-width: 55rem;
  background-color: #fff;
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  padding: 5rem 7rem;
  border-radius: 5px;
}

.form__label {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.form__input {
  display: block;
  font-size: 1.5rem;
  color: inherit;
  padding: 1.25rem 1.75rem;
  border: none;
  width: 100%;
  background-color: #fff;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
  border-radius: 4px;
  box-sizing: border-box;
}

.form__group:not(:last-child) {
  margin-bottom: 2.5rem;
}

.form__link {
  display: block;
  font-size: 1.5rem;
  color: inherit;
  padding: 1.25rem 0;
  text-decoration: none;
}

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
  background-color: #20bf6b;
}
.alert--error {
  background-color: #eb4d4b;
}

.campaign-search-button {
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 1.5rem;
  padding: 1.4rem 1.4rem;
  border-radius: 10rem;
  display: inline-block;
  text-decoration: none;
  position: relative;
  transition: all 0.4s;
  font-weight: 200;
  border: none;
  cursor: pointer;
}

.select {
  margin-bottom: 40px;
}

.project_container_header {
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 10px 0;
  padding: 0 0 0 25px;
}

.create-project-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 80vh;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  opacity: 0;
  z-index: 1000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

.create-project-window.visible {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.create-project-window.hidden {
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
}

.create-project-form {
  padding: 20px;
  position: absolute;
  display: flex;
  z-index: 999;
}

.close_btn {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin: 0 0 0 auto;
}

#create-project-btn {
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
}
.value_contianer {
  display: column;
}

.error_overview_graph {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  width: 100%;
}

.error_overview_graph_container {
  padding: 25px 0;
  border: 3px solid #ecf1f9;
  border-radius: 8px;
  background-color: white;
  width: 100%;
}

.past1dOverviewGraph {
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
}

.past1dOverviewGraph .title {
  font-size: 26px;
  font-weight: 700;
  color: rgb(41, 45, 62);
}

.past1dOverviewGraph .timeline {
  text-align: center;
  border-radius: 3px;
  margin: 5px 0 0 0;
  padding: auto auto;
  height: 35px;
  width: 75px;
  font-weight: 400;
  font-size: 14px;
  border: 2px solid #dfe6f1;
  background-color: white;
  color: rgb(70, 77, 105);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inspect_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.inspect_text {
  font-size: 14px;
  color: #a9a7a7;
}

.error {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 80rem;
  text-align: center;
}
.error__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.error__emoji {
  font-size: 3.75rem;
  margin-left: 1rem;
}
.error__msg {
  font-size: 2.5rem;
  font-weight: 700;
  max-width: 50rem;
  margin: 0 auto;
}

.project_title_container {
  display: flex;
  justify-content: space-between;
}
.project_title_container {
  margin: 20px 0 20px 0;
  background-color: rgb(214, 216, 240);
}

.project_container {
  padding: 30px 0px;
  background-color: white;
  border: 3px solid #ecf1f9;
}

.project_list_title {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 0 0;
  padding: 10px 100px 5px 40px;
  border-bottom: 1px solid rgb(214, 221, 235);
}

.project_user_numbers,
.project_name {
  font-size: 18px;
  font-weight: 500;
  color: #0f69b2;
  text-decoration: underline;
}

.project_user_numbers:hover,
.project_name:hover {
  color: #8696ce;
}

#open-create-project {
  border: none;
  background-color: #0f69b2;
  color: white;
  border-radius: 3px;
  padding: 8px 16px;
}
#open-create-project:hover {
  background-color: #8696ce;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-weight: 600;
  font-size: 1.5rem;
}

body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  display: flex;
}

.main {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
  background-color: #fafbfe;
}

#sidebar {
  width: 70px;
  min-width: 70px;
  z-index: 1000;
  transition: all 0.25s ease-in-out;
  background-color: rgb(52, 63, 85);
  display: flex;
  flex-direction: column;
}

#sidebar.expand {
  width: 200px;
  min-width: 200px;
}

.toggle-btn {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  padding: 1rem 1rem;
}

.toggle-btn i {
  font-size: 1.5rem;
  color: #fff;
}
.d-flex {
  display: flex;
  align-items: center;
}

.sidebar-logo {
  margin: auto 0;
}

.sidebar-logo a {
  color: #fff;
  font-size: 1.15rem;
  font-weight: 500;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
  display: none;
}

.sidebar-link span {
  color: rgb(184, 196, 219);
}

.sidebar-nav {
  padding: 2rem 0;
  flex: 1 1 auto;
}

a.sidebar-link {
  padding: 0.625rem 0.8rem;
  height: 50px;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  white-space: nowrap;
  border-left: 3px solid transparent;
}

.sidebar-link i {
  font-size: 1.2rem;
  margin-right: 0.75rem;
  color: rgb(184, 196, 219);
}

a.sidebar-link:hover {
  background-color: rgba(255, 255, 255, 0.075);
  border-left: 3px solid #3b7ddd;
  color: white;
}

.sidebar-link:hover * {
  color: white;
}
.sidebar-item {
  position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
  position: absolute;
  top: 0;
  left: 70px;
  background-color: #0e2238;
  padding: 0;
  min-width: 15rem;
  display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown + .sidebar-dropdown {
  display: block;
  max-height: 15em;
  width: 100%;
  opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle='collapse']::after {
  border: solid;
  border-width: 0 0.075rem 0.075rem 0;
  content: '';
  display: inline-block;
  padding: 2px;
  position: absolute;
  right: 1.5rem;
  top: 1.2rem;
  transform: rotate(-135deg);
  transition: all 0.2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle='collapse'].collapsed::after {
  transform: rotate(45deg);
  transition: all 0.2s ease-out;
}

.sidebar {
  width: 260px;
  background-color: #afb9c3;
  height: 100%;
  box-sizing: border-box;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  transition: background-color 0.3s;
}

.sidebar ul li.active a {
  background-color: #34495e;
}

.sidebar2_title {
  padding: 10px 10px 20px 10px;
  font-weight: 600;
}
.setting_container {
  padding: 20px 20px 0 20px;
  position: relative;
}
.members_title,
.notifications_title {
  font-size: 32px;
  font-weight: 500;
}
.members_description,
.notifications_description {
  margin: 20px 0 0 0;
}
.members_description,
.notifications_description {
  font-size: 15px;
}

.members_container {
  width: 320px;
  height: 140px;
  padding: 20px;
  margin: 20px 0;
  border: 2px solid rgb(207, 204, 204);
}

.user_img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin: 0 0 10px 0;
}

.members_access_container {
  margin: 20px 0 0 0;
}

.members_access_title {
  color: #104c91;
  font-size: 18px;
  font-weight: 600;
  margin: 0 40px 0 0;
}

.members_button_container {
  display: flex;
  align-items: center;
}

.p-3 {
  padding: 24px;
}
/* button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
} */

.add_users_btn {
  display: flex;
  border: none;
  background-color: #127dd5;
  border-radius: 3px;
  font-size: 14px;
  color: white;
  padding: 8px 16px;
  align-items: center;
}

.add-users-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 50vh;
  background-color: white;
  border: 1px solid #ccc;
  padding: 30px 40px;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  z-index: -1; /* Ensure it is below other elements */
}
#submit_add_members,
.cancel_btn {
  background: none;
  border: none;
  padding: 0;
}

.add-users-window.visible {
  z-index: 999;
}

.add-users-window.hidden {
  z-index: -1;
}

.members_window_title {
  color: #104c91;
  font-size: 18px;
  font-weight: 500;
}

.btn_container {
  display: flex;
}

.submit_button,
.cancel_button {
  margin: 32px 16px 0 0;
  font: 14px;
  padding: 0 16px;
  height: 32px;
  border: 1px solid black;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.cancel_button {
  border: 1px solid #bcbbbb;
}

.submit_button {
  background-color: #127dd5;
  color: white;
  border: none;
}

.form_group_members {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
#userEmail {
  margin: 20px 0 0 0;
  width: 100%;
}

input#userEmail::placeholder {
  font-size: 14px; /* Change this to your desired font size */
  color: #ccc; /* You can also change the placeholder color if needed */
}

input#userEmail {
  border: 1px solid #127dd5;
  border-radius: 4px;
  padding: 10px;
}

.btn,
.btn:link,
.btn:visited {
  font-size: 1.6rem;
  padding: 1.4rem 3rem;
  border-radius: 10rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  position: relative;
  transition: all 0.4s;
  font-weight: 400;
  border: none;
  cursor: pointer;
}
.specialSignUpBtn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  text-decoration: none;
  border-radius: 5px;
}

.channel_column_container {
  margin: 30px 0 0 0;
  width: 820px;
}

.channel_title,
.switch_description {
  font-size: 24px;
  font-weight: 600;
  color: #104c91;
}

hr {
  margin: 8px 0;
}

.channel_icon_group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 0 0 0 20px;
}
.email_link {
  display: flex;
  align-items: center;
}
.lni-envelope {
  font-size: 24px;
  margin: 0 12px 0 0;
}
.channel_email {
  font-size: 18px;
}
.channel_icon_group:hover {
  background-color: rgb(211, 209, 209);
}
.email_link_button {
  padding: 0 20px 0 0;
}
.email_configure_btn {
  border: 1px solid rgb(214, 212, 212);
  border-radius: 3px;
  padding: 6px 16px;
}

.switch {
  position: relative;
  margin: 20px 0 20px 0;
  height: 1.5rem;
  width: 3rem;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 9999px;
  background-color: rgba(100, 116, 139, 0.377);
  transition: all 0.3s ease;
}

.switch:checked {
  background-color: rgba(77, 175, 80, 1);
}

.switch::before {
  position: absolute;
  content: '';
  left: calc(1.5rem - 1.6rem);
  top: calc(1.5rem - 1.6rem);
  display: block;
  height: 1.6rem;
  width: 1.6rem;
  cursor: pointer;
  border: 1px solid rgba(100, 116, 139, 0.527);
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 3px 10px rgba(100, 116, 139, 0.327);
  transition: all 0.3s ease;
}

.switch:hover::before {
  box-shadow: 0 0 0px 8px rgba(0, 0, 0, 0.15);
}

.switch:checked:hover::before {
  box-shadow: 0 0 0px 8px rgba(77, 175, 80, 0.15);
}

.switch:checked:before {
  transform: translateX(100%);
  border-color: rgba(77, 175, 80, 1);
}

.rule_group_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rule_set_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0 0 0;
}

.rule_name {
  font-size: 24px;
  color: #066cda;
  font-weight: 500;
}

.rule_set_container {
  border-bottom: 2px solid rgb(194, 192, 192);
  padding: 0px 10px 18px 10px;
  display: flex;
  align-items: flex-start;
}
.rule_name_description_container {
  width: 100%;
}

.rule_group_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.anomaly_rule_window {
  width: 100%;
  height: 220px;
  margin: 10px 0 0 0;
}

.anomaly_timewindow,
.anomaly_quota {
  font-size: 20px;
  color: #000000;
  font-weight: 500;
}

.anomaly_timewindow_description,
.anomaly_quota_description {
  font-size: 16px;
  font-weight: 400;
  margin: 0 50px 0 0;
  padding: 5px 0 0 0;
}

.anomaly_options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

select#windowDropdown {
  padding: 8px;
  font-size: 14px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  width: 150px; /* Adjust width as needed */
}

select#windowDropdown option {
  padding: 8px;
}

.quota {
  height: 38px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  width: 220px;
  text-align: center;
}

.anomaly_options {
  padding: 20px 0;
}

.rules_save_btn {
  margin: 40px 0 0 0;
  font-size: 20px;
  border: none;
  background-color: #007bff;
  color: white;
  width: 90px;
  height: 45px;
  border-radius: 3px;
  padding: 8px 16px;
}

.notifications_container.disabled {
  opacity: 0.5; /* Adjust the opacity as needed */
  pointer-events: none;
}

.rule_set_container.disabled {
  opacity: 0.5; /* Adjust the opacity as needed */
  pointer-events: none;
}

.sidebar_container {
  display: flex;
  flex-direction: column;
  width: 190px;
}

.sidebar_container {
  flex: 1 1 auto;
}

.project_overview_info_container {
  display: flex;
  justify-content: space-between;
  padding: 8px 115px 8px 40px;
}
#projectName {
  width: 380px;
  margin: 10px 0 0 0;
}
.general_setting_title {
  font-size: 24px;
  font-weight: 500;
  color: #969393;
  padding: 0 0 10px 0;
}

.general_setting_field {
  margin: 10px 0 0 0;
}

#toggleButton {
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: white;
  padding: 4px 8px;
  margin: 0 10px 0 0;
}

.token-container {
  padding: 15px 0 0 0;
}

.sidebar2_title.subtitle {
  padding: 10px 10px 0px 10px;
}

.welcome {
  width: 100%;
  height: 550px;
  background-color: rgb(52 63 85);
  border-radius: 3px;
}

.project_section_description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 50px);
  height: 90px;
  background-color: rgb(52 63 85);
  border-radius: 4px;
  padding: 15px 25px 15px 45px;
  margin: 15px 25px 35px 25px;
  box-sizing: border-box;
}
.project_section_description .firstLine {
  font-size: 16px;
  font-weight: 500;
  color: white;
}

.project_section_description .secondLine {
  font-size: 16px;
  color: rgb(127 146 185);
  padding: 0 0 0 26px;
}
.create_button_container {
  padding: 0 0 0 25px;
}

.welcome_container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.text {
  flex-grow: 1;
}

.welcome_text {
  font-weight: 700;
  font-size: 26px;
  color: rgb(255, 255, 255);
}
.welcome_subtext,
.quick_start {
  color: rgb(184, 196, 219);
}
.quick_start {
  margin: 30px 0 0 0;
  font-size: 20px;
  font-weight: 500;
}

.SDK_setup_container {
  margin: 10px 0 0 0;
  background-color: rgb(41, 45, 62);
  width: 100%;
  height: 50px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding: 0 0 0 25px;
}
.SDK_setup_container.init {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 210px;
  padding: 20px 0 0 25px;
}

span.purple {
  font-style: italic;
}
.space {
  display: inline-block;
  width: 3px;
}
.sdk_code {
  font-family: 'Work Sans';
  color: white;
  font-size: 14px;
  color: rgba(191, 199, 213);
}
.bug {
  width: 150px;
  height: 150px;
}
.sdk_code.comments {
  font-style: italic;
  color: rgba(105, 112, 152);
}
.sdk_code.comments.two {
  margin: 18px 0 0 0;
}
.debug {
  height: 280px;
  width: 280px;
  padding: 30px;
  margin: 140px 0 0 0;
}

.dashboard_summary {
  margin: 45px 0 0 0;
  font-size: 24px;
  font-weight: 600;
  color: rgb(41, 45, 62);
  padding: 0 0 0 25px;
}

.trends_summary_container {
  width: 100%;
  margin: 10px 0 0 0;
}

.project_trends_title_container {
  display: flex;
  justify-content: space-between;
  padding: 10px 60px 5px 40px;
  border-bottom: 1px solid rgb(214, 221, 235);
}

.arrow {
  width: 20px;
  height: 20px;
}
.project_trends_i_container {
  display: flex;
  justify-content: space-between;
  padding: 8px 115px 8px 40px;
}
.project_trends_i_title {
  margin-right: auto;
  font-size: 18px;
}
.project_trends_i_total_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
}
.project_trends_i_total {
  padding: 0 300px 0 0;
}

.project_overview_info_container {
  background-color: rgb(247 249 253);
}
.project_overview_info_container:nth-child(odd) {
  background-color: rgb(255 255 255);
}

.project_trends_i_container {
  background-color: rgb(247 249 253);
}

.project_trends_i_container:nth-child(odd) {
  background-color: rgb(255 255 255);
}
.project_trends_title {
  margin-right: auto;
}
.project_trends_title_1 {
  padding: 0 45px 0 0;
}

.project_trends_i_compare_container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.project_trends_i_compare_positive,
.project_trends_i_compare_negative {
  width: 36px;
}

.project_trends_i_compare_positive {
  color: rgb(229, 90, 90);
}
.project_trends_i_compare_negative {
  color: rgb(81, 197, 81);
}
.firstLine_container {
  display: flex;
  align-items: center;
}
.check {
  width: 18px;
  height: 18px;
}
