main {
  text-align: center;
  box-sizing: border-box;
}

.containerBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.errorContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.errorLogsContainer {
  display: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  margin: 60px auto;
}

.containerBar .title {
  margin-right: 40px;
}
